body {
  font-size: 14px;
  font-family: helvetica;
}

label {
  display: block;
}

.input-container {
  display: block;
}

.input-inner-container input[type=text],
.input-inner-container select {
  margin-top: 5px;
  display: inline-block;
}

.input-inner-container .check-mark {
  margin-left: 5px;
  display: inline-block;
  color: #29CF71;
}


