/*:root {*/
  /*--mainColor: red;*/
/*}*/

/*a {*/
  /*color: var(--mainColor);*/
/*}*/

:root {
  --successColor: #29CF71;
  --dullGrey: #d3d3d3;
}

body {
  font-size: 14px;
  font-family: helvetica;
}

label {
  display: block;
}

.input-container {
  display: block;
}

.input-inner-container input[type=text],
.input-inner-container select {
  margin-top: 5px;
  display: inline-block;
}

.input-inner-container .check-mark {
  margin-left: 5px;
  display: inline-block;
  color: var(--successColor);
}

button[type=submit] {
  border: none;
  color: white;
  background: var(--successColor);
  border-radius: 3px;
}

button[type=submit]:hover {
  cursor: pointer;
}

button[type=submit]:disabled {
  background: var(--dullGrey);
}

button[type=submit]:disabled:hover {
  cursor: not-allowed;
}


