body {
  font-size: 14px;
  font-family: helvetica;
}

label {
  display: block;
}

.input-container {
  display: block;
}

.input-container input[type=text],
.input-container select {
  margin-top: 5px;
  display: inline-block;
}

.input-container .check-mark {
  margin-left: 5px;
  display: inline-block;
  color: #7FFA81;
}


